*{
    margin:0px;
    padding: 0;
    font-family:'Poppins',sans-serif;
    box-sizing:border-box;
}

body{
    background-color: #080808;
    color:white;
}
#header{
    width:100%;
    height:100%;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}